<body>
<div class="container">
    <div class="header panel">
        <div class="app-div">
            <img src="/common/images/logo.png" alt="Threadle logo" class="threadle-logo">
            <div class="app-name">Threadle</div>
        </div>
        <div class="search-div">
            <img src="/common/images/search-icon.png" alt="Search Icon" class="search-icon">
            <span class="search-text">Search Threadle</span>
        </div>
        <div class="profile-div">
            <a href="/profile_user/{{profileName}}">
                <img src="/common/images/user-1.png" alt="Profile Picture" class="profile-icon">
            </a>
            <a href="/profile_user/{{profileName}}" class="profile-name">{{profileName}}</a>
        </div>
    </div>
    <div class="side-panel">
        <a href="/addpost" class="new-thread-button">
            Start New Thread
        </a>
        <div class="side-menu-button">
            <a href="/homepage">Home</a>
        </div>
        <div class="side-menu-button">
            <a href="/about">About Us</a>
        </div>
        <div class="side-menu-button">
            <a href="/login">Log Out</a>
        </div>
        <div class="spaces-div">
            <p>Explore Spaces</p>
            <ul>
                <li>#cats</li>
                <li>#dlsu</li>
                <li>#South Korea</li>
                <li>#Philippines</li>
                <li>#Teamfight Tactics</li>
                <li>#Books</li>
            </ul>
        </div>
    </div>
    <div class="posts-panel">
        <h1>Recent Posts</h1>
        <ul>
            {{#each post}}
            <li><a href="/posts/{{post._id}}">{{post.title}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
</body>

<script>
    const homeTemplateSource = document.getElementById('home-template').innerHTML;
    const homeTemplate = Handlebars.compile(homeTemplateSource);
    const context = { profileName: 'Artistic-Soul-56', posts: this.posts }; // corrected profileName value and added posts variable
    const htmlOutput = homeTemplate(context);
    document.getElementById('content').innerHTML = htmlOutput;
</script>