<body>
<div class="container">
    <div class="header panel">
        <div class="app-div">
            <img src="/common/images/logo.png" alt="Threadle logo" class="threadle-logo">
            <div class="app-name">Threadle</div>
        </div>
        <div class="search-div">
            <img src="/common/images/search-icon.png" alt="Search Icon" class="search-icon">
            <span class="search-text">Search Threadle</span>
        </div>
        <div class="profile-div">
            <img src="/common/images/user-1.png" alt="Profile Picture" class="profile-icon">
            <span class="profile-name">{{profileName}}</span>
        </div>
    </div>
    <div class="side-panel">
        <div class="new-thread-button">
            Start New Thread
        </div>
        <div class="side-menu-button">
            <a href="/homepage">Home</a>
        </div>
        <div class="side-menu-button">
            <a href="/about">About Us</a>
        </div>
        <div class="side-menu-button">
            <a href="/login">Log Out</a>
        </div>
        <div class="spaces-div">
            <p>Explore Spaces</p>
            <ul>
                <li>#cats</li>
                <li>#dlsu</li>
                <li>#South Korea</li>
                <li>#Philippines</li>
                <li>#Teamfight Tactics</li>
                <li>#Books</li>
            </ul>
        </div>
    </div>
    <div class="posts-panel">
        {{#each posts}}
        <div class="post">
            <div class="post-header">
                <div class="user-info">
                    <img src="/common/images/user-3.png" alt="User Icon" class="user-icon">
                    <div class="user-details">
                        <span class="user-name">{{this.user.username}}</span>
                        <div class="post-metadata">
                            <span class="post-space">{{this.space}}</span>
                            ·
                            <span class="post-date">{{this.date}}</span>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    {{this.title}}
                </div>
            </div>
            <div class="post-body">
                {{this.content}}
            </div>
            <div class="post-footer">
                <div class="icon-div">
                    <img src="/common/images/upvote-icon.png" alt="Upvote Icon" class="icons">
                    <span class="label">Upvote</span>
                    <span class="vote-count"> · {{this.votes}}</span>
                </div>
                <div class="icon-div">
                    <img src="/common/images/downvote-icon.png" alt="Downvote Icon" class="icons downvote-button">
                </div>
                <div class="icon-div">
                    <img src="/common/images/comment-icon.png" alt="Comment Icon" class="icons">
                    <span class="label">Comment</span>
                </div>
                <div class="icon-div">
                    <img src="/common/images/share-icon.png" alt="Share Icon" class="icons">
                    <span class="label">Share</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</body>

<script>
    const homeTemplateSource = document.getElementById('home-template').innerHTML;
    const homeTemplate = Handlebars.compile(homeTemplateSource);
    const context = { profileName: 'Artistic-Soul-56', posts: this.posts }; // corrected profileName value and added posts variable
    const htmlOutput = homeTemplate(context);
    document.getElementById('content').innerHTML = htmlOutput;
</script>